* {
    margin: 0;
    padding: 0;
}

.container {
    height: 300px;
    width: 400px;
    background-color: yellow;
    position: relative;
}

.first {
    height: 120px;
    width: 100px;
    background-color: rgb(43, 43, 151);
    position: absolute;
    top: 0;
    left: 0;
}

.second {
    width: 250px;
    height: 120px;
    background-color: rgb(43, 43, 151);
    position: absolute;
    top: 0;
    right: 0;

}

.third {
    width: 100px;
    height: 120px;
    background-color: rgb(43, 43, 151);
    position: absolute;
    bottom: 0;
    left: 0;

}

.fourth {
    width: 250px;
    height: 120px;
    background-color: rgb(43, 43, 151);
    position: absolute;
    bottom: 0;
    right: 0;
}