* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.container {
    height: 400px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}

.box {
    height: 100%;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px) {
    .container {
        height: 200px;
        width: 200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .container {
        height: 800px;
        width: 200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}